## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# prompt: Using dataframe application_df:

application_df.groupby(['APPLICATION_TYPE', 'AFFILIATION']).count()

                                     EIN   NAME  CLASSIFICATION  USE_CASE  \
APPLICATION_TYPE AFFILIATION
T10              CompanySponsored    438    438             438       438
                 Independent          90     90              90        90
T12              Independent          26     26              26        26
                 National              1      1               1         1
T13              Independent          65     65              65        65
                 Regional              1      1               1         1
T14              CompanySponsored      2      2               2         2
                 Independent           1      1               1         1
T15              Independent           2      2               2         2
T17              Independent           1      1               1         1
T19              CompanySponsored    854    854             854       854
                 Family/Parent         2      2               2         2
                 Independent         208    208             208       208
                 National              1      1               1         1
T2               Independent          16     16              16        16
T25              Independent           3      3               3         3
T29              Independent           2      2               2         2
T3               CompanySponsored  11006  11006           11006     11006
                 Family/Parent        56     56              56        56
                 Independent       15934  15934           15934     15934
                 National             28     28              28        28
                 Other                 3      3               3         3
                 Regional             10     10              10        10
T4               CompanySponsored   1031   1031            1031      1031
                 Independent         509    509             509       509
                 National              1      1               1         1
                 Regional              1      1               1         1
T5               CompanySponsored    958    958             958       958
                 Independent         215    215             215       215
T6               CompanySponsored    491    491             491       491
                 Family/Parent         2      2               2         2
                 Independent         720    720             720       720
                 National              1      1               1         1
                 Other                 1      1               1         1
                 Regional              1      1               1         1
T7               CompanySponsored    338    338             338       338
                 Family/Parent         1      1               1         1
                 Independent         386    386             386       386
T8               CompanySponsored    586    586             586       586
                 Family/Parent         3      3               3         3
                 Independent         148    148             148       148
T9               CompanySponsored      1      1               1         1
                 Independent         154    154             154       154
                 National              1      1               1         1

                                   ORGANIZATION  STATUS  INCOME_AMT  \
APPLICATION_TYPE AFFILIATION
T10              CompanySponsored           438     438         438
                 Independent                 90      90          90
T12              Independent                 26      26          26
                 National                     1       1           1
T13              Independent                 65      65          65
                 Regional                     1       1           1
T14              CompanySponsored             2       2           2
                 Independent                  1       1           1
T15              Independent                  2       2           2
T17              Independent                  1       1           1
T19              CompanySponsored           854     854         854
                 Family/Parent                2       2           2
                 Independent                208     208         208
                 National                     1       1           1
T2               Independent                 16      16          16
T25              Independent                  3       3           3
T29              Independent                  2       2           2
T3               CompanySponsored         11006   11006       11006
                 Family/Parent               56      56          56
                 Independent              15934   15934       15934
                 National                    28      28          28
                 Other                        3       3           3
                 Regional                    10      10          10
T4               CompanySponsored          1031    1031        1031
                 Independent                509     509         509
                 National                     1       1           1
                 Regional                     1       1           1
T5               CompanySponsored           958     958         958
                 Independent                215     215         215
T6               CompanySponsored           491     491         491
                 Family/Parent                2       2           2
                 Independent                720     720         720
                 National                     1       1           1
                 Other                        1       1           1
                 Regional                     1       1           1
T7               CompanySponsored           338     338         338
                 Family/Parent                1       1           1
                 Independent                386     386         386
T8               CompanySponsored           586     586         586
                 Family/Parent                3       3           3
                 Independent                148     148         148
T9               CompanySponsored             1       1           1
                 Independent                154     154         154
                 National                     1       1           1

                                   SPECIAL_CONSIDERATIONS  ASK_AMT  \
APPLICATION_TYPE AFFILIATION
T10              CompanySponsored                     438      438
                 Independent                           90       90
T12              Independent                           26       26
                 National                               1        1
T13              Independent                           65       65
                 Regional                               1        1
T14              CompanySponsored                       2        2
                 Independent                            1        1
T15              Independent                            2        2
T17              Independent                            1        1
T19              CompanySponsored                     854      854
                 Family/Parent                          2        2
                 Independent                          208      208
                 National                               1        1
T2               Independent                           16       16
T25              Independent                            3        3
T29              Independent                            2        2
T3               CompanySponsored                   11006    11006
                 Family/Parent                         56       56
                 Independent                        15934    15934
                 National                              28       28
                 Other                                  3        3
                 Regional                              10       10
T4               CompanySponsored                    1031     1031
                 Independent                          509      509
                 National                               1        1
                 Regional                               1        1
T5               CompanySponsored                     958      958
                 Independent                          215      215
T6               CompanySponsored                     491      491
                 Family/Parent                          2        2
                 Independent                          720      720
                 National                               1        1
                 Other                                  1        1
                 Regional                               1        1
T7               CompanySponsored                     338      338
                 Family/Parent                          1        1
                 Independent                          386      386
T8               CompanySponsored                     586      586
                 Family/Parent                          3        3
                 Independent                          148      148
T9               CompanySponsored                       1        1
                 Independent                          154      154
                 National                               1        1

                                   IS_SUCCESSFUL
APPLICATION_TYPE AFFILIATION
T10              CompanySponsored            438
                 Independent                  90
T12              Independent                  26
                 National                      1
T13              Independent                  65
                 Regional                      1
T14              CompanySponsored              2
                 Independent                   1
T15              Independent                   2
T17              Independent                   1
T19              CompanySponsored            854
                 Family/Parent                 2
                 Independent                 208
                 National                      1
T2               Independent                  16
T25              Independent                   3
T29              Independent                   2
T3               CompanySponsored          11006
                 Family/Parent                56
                 Independent               15934
                 National                     28
                 Other                         3
                 Regional                     10
T4               CompanySponsored           1031
                 Independent                 509
                 National                      1
                 Regional                      1
T5               CompanySponsored            958
                 Independent                 215
T6               CompanySponsored            491
                 Family/Parent                 2
                 Independent                 720
                 National                      1
                 Other                         1
                 Regional                      1
T7               CompanySponsored            338
                 Family/Parent                 1
                 Independent                 386
T8               CompanySponsored            586
                 Family/Parent                 3
                 Independent                 148
T9               CompanySponsored              1
                 Independent                 154
                 National                      1

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
columns_to_drop = ['EIN', 'NAME']
application_df = application_df.drop(columns=columns_to_drop)
print(application_df)

      APPLICATION_TYPE       AFFILIATION CLASSIFICATION      USE_CASE  \
0                  T10       Independent          C1000    ProductDev
1                   T3       Independent          C2000  Preservation
2                   T5  CompanySponsored          C3000    ProductDev
3                   T3  CompanySponsored          C2000  Preservation
4                   T3       Independent          C1000     Heathcare
...                ...               ...            ...           ...
34294               T4       Independent          C1000    ProductDev
34295               T4  CompanySponsored          C3000    ProductDev
34296               T3  CompanySponsored          C2000  Preservation
34297               T5       Independent          C3000    ProductDev
34298               T3       Independent          C1000  Preservation

       ORGANIZATION  STATUS     INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  \
0       Association       1              0                      N      5000
1      Co-operative       1         1-9999                      N    108590
2       Association       1              0                      N      5000
3             Trust       1    10000-24999                      N      6692
4             Trust       1  100000-499999                      N    142590
...             ...     ...            ...                    ...       ...
34294   Association       1              0                      N      5000
34295   Association       1              0                      N      5000
34296   Association       1              0                      N      5000
34297   Association       1              0                      N      5000
34298  Co-operative       1          1M-5M                      N  36500179

       IS_SUCCESSFUL
0                  1
1                  1
2                  0
3                  1
4                  1
...              ...
34294              0
34295              0
34296              0
34297              1
34298              0

[34299 rows x 10 columns]

In [5]:
# Determine the number of unique values in each column.
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(value_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 300

# Get the value counts for 'APPLICATION_TYPE'
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Create a list of application types to be replaced
application_types_to_replace = application_type_counts[application_type_counts < cutoff_value].index.tolist()

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Display the result
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts = application_df['CLASSIFICATION'].value_counts()
filtered_classification_counts = classification_counts[classification_counts > 1]

# Display the result
print(filtered_classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [10]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_value = 50

# Get the value counts for 'CLASSIFICATION'
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Create a list of classifications to be replaced
classifications_to_replace = classification_counts[classification_counts < cutoff_value].index.tolist()

# Replace in the DataFrame
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, 'Other')

# Check to make sure binning was successful
print(application_df['CLASSIFICATION'].value_counts())

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [11]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)

# Display the modified DataFrame
print(application_dummies)

       STATUS   ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0           1      5000              1                       0
1           1    108590              1                       0
2           1      5000              0                       0
3           1      6692              1                       0
4           1    142590              1                       0
...       ...       ...            ...                     ...
34294       1      5000              0                       0
34295       1      5000              0                       0
34296       1      5000              0                       0
34297       1      5000              1                       0
34298       1  36500179              0                       0

       APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                         1                     0                    0
1                         0                     0                    1
2                         0                     0                    0
3                         0                     0                    1
4                         0                     0                    1
...                     ...                   ...                  ...
34294                     0                     0                    0
34295                     0                     0                    0
34296                     0                     0                    1
34297                     0                     0                    0
34298                     0                     0                    1

       APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                        0                    0                    0  ...
1                        0                    0                    0  ...
2                        0                    1                    0  ...
3                        0                    0                    0  ...
4                        0                    0                    0  ...
...                    ...                  ...                  ...  ...
34294                    1                    0                    0  ...
34295                    1                    0                    0  ...
34296                    0                    0                    0  ...
34297                    0                    1                    0  ...
34298                    0                    0                    0  ...

       INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                      0                       0                         0
1                      1                       0                         0
2                      0                       0                         0
3                      0                       1                         0
4                      0                       0                         1
...                  ...                     ...                       ...
34294                  0                       0                         0
34295                  0                       0                         0
34296                  0                       0                         0
34297                  0                       0                         0
34298                  0                       0                         0

       INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                       0                 0                       0
1                       0                 0                       0
2                       0                 0                       0
3                       0                 0                       0
4                       0                 0                       0
...                   ...               ...                     ...
34294                   0                 0                       0
34295                   0                 0                       0
34296                   0                 0                       0
34297                   0                 0                       0
34298                   0                 1                       0

       INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                    0                  0                         1
1                    0                  0                         1
2                    0                  0                         1
3                    0                  0                         1
4                    0                  0                         1
...                ...                ...                       ...
34294                0                  0                         1
34295                0                  0                         1
34296                0                  0                         1
34297                0                  0                         1
34298                0                  0                         1

       SPECIAL_CONSIDERATIONS_Y
0                             0
1                             0
2                             0
3                             0
4                             0
...                         ...
34294                         0
34295                         0
34296                         0
34297                         0
34298                         0

[34299 rows x 54 columns]

In [12]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop('IS_SUCCESSFUL', axis=1,)  # Features
X.head(10)

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
5,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
6,1,31452,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
7,1,7508025,0,0,0,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
8,1,94389,0,0,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,1,0
9,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0

In [13]:

y = application_dummies['IS_SUCCESSFUL']

In [14]:


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [15]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [16]:
X_scaler = scaler.fit(X_train)

In [17]:


# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [29]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])

hidden_nodes_layer1 = 40

hidden_nodes_layer2 = 40

print(number_input_features)

nn = tf.keras.models.Sequential()

# 1st hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim=number_input_features, activation="relu"))

# 2nd hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

53
Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 40)                2160

 dense_10 (Dense)            (None, 40)                1640

 dense_11 (Dense)            (None, 1)                 41

=================================================================
Total params: 3841 (15.00 KB)
Trainable params: 3841 (15.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [30]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [31]:
# Train the model
fit_nn = nn.fit(X_train_scaled, y_train, epochs=20)

Epoch 1/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5788 - accuracy: 0.7157
Epoch 2/20
804/804 [==============================] - 2s 3ms/step - loss: 0.5530 - accuracy: 0.7318
Epoch 3/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7325
Epoch 4/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7329
Epoch 5/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7331
Epoch 6/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5458 - accuracy: 0.7344
Epoch 7/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7346
Epoch 8/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - accuracy: 0.7343
Epoch 9/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7353
Epoch 10/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7365
Epoch 11/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7360
Epoch 12/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - accuracy: 0.7360
Epoch 13/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - accuracy: 0.7362
Epoch 14/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7375
Epoch 15/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5407 - accuracy: 0.7369
Epoch 16/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7371
Epoch 17/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5403 - accuracy: 0.7392
Epoch 18/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5397 - accuracy: 0.7379
Epoch 19/20
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7379
Epoch 20/20
804/804 [==============================] - 1s 2ms/step - loss: 0.5393 - accuracy: 0.7379

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5510 - accuracy: 0.7276 - 442ms/epoch - 2ms/step
Loss: 0.550955593585968, Accuracy: 0.727580189704895

In [ ]:
# Export our model to HDF5 file
nn.save("./AlphabetSoupCharityOptimized.h5")

In [ ]:
import os
print(os.getcwd())

/content